:root {
    --blue: rgb(53, 147, 206);
    --violet: rgb(188, 130, 238);
    font-family: 'Times New Roman', Times, serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    overflow: hidden;
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    border: 1px solid black;
    font-size: 50px;
}

h1 {
    color: white;
    padding-left: 50px;
    margin-top: 40px;
    margin-bottom: 25px;
  
}

h2 {
    float: right;
    padding-right: 50px;
    padding: 10px;
    background-image: url("./images/klimpt.jpeg");
}

.welcome {
    height: 70px;
    background-color: var(--blue);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    border: 1px solid black;
   font-size: 40px;
   
}


.navbar {
    color: white;
    margin-bottom: 30px;
    margin-top: 50px;
    padding-right: 60px;
   font-size: 20px;
}
    

h3  {
    padding-left: 50px;
    margin-top: 100px;
    color: black;
}

#AboutMe {
  font-size: 30px;
}

p {
    padding: 30px;
    width: 50%;
    margin: 20px;
}

h4  {
    padding-left: 50px;
    color: black;
    font-size: 30px;
}

#Work {
  font-size: 30px;
}

#ContactMe  {
    padding-left: 50px;
    color: black;
    font-size: 30px;
}

.bigcard {
    border-style: solid;
    border-width: 1px;
    height: 200px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-top: 30px;
    background-image:url("./images/flowers.jpeg");
  }



  .smallcard1 {
    border-style: solid;
    border-width: 1px;
    height: 100px;
    width: 25%;
    float: left;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    background-image:url("./images/monet.webp")
  }

  .smallcard2 {
    border-style: solid;
    border-width: 1px;
    height: 100px;
    padding: 10px;
    width: 25%;
    float: left;
    display: flex;
    justify-content: space-between;
    background-image:url("./images/monet.webp")
  
  }

  

#ContactMe {
  display: relative;
  align-items: left;
  margin-top: 150px;
  margin-bottom: 50px;
}

footer {
    overflow: hidden;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    padding: 20px;
    height: 75px;
    border: 2px solid grey;
}

a {
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
@media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
    /* Change the header color */
    header {
      background: var(--blue)
    }
  }
  
  /* Cards are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
    /* Change the header color */
    header {
      background: var(--blue);
    }
  }

